numpy
pandas
nltk
beautifulsoup4
opencv-python
pytesseract
speechrecognition==3.8.1
PyAudio
streamlit
jcopdl
translate
playsound==1.2.2
pywhatkit
gTTS
pyttsx3
torch
torchtext
beautifulsoup4
translate
flask
portaudio
pipwin